[Unit]
Description=Docker registry server
Requires=docker.service
After=network.target docker.service

[Service]
RestartSec=10
Restart=always

ExecStartPre=-/usr/bin/docker rm -f docker-registry

ExecStart=/usr/bin/docker run --rm \
  --name docker-registry \
  -v {{ registry_named_volume }}:/var/lib/registry \
  -v {{ registry_config_file_path }}:/etc/docker/registry/config.yml \
  -v {{ registry_tls_cert_path }}:/etc/docker/registry/cert.crt \
  -v {{ registry_tls_key_path }}:/etc/docker/registry/private.key \
  -v {{ registry_htpasswd_path }}:/etc/docker/registry/.htpasswd \
  -p {{ registry_port }}:443 \
  --env REGISTRY_HTTP_ADDR=0.0.0.0:443 \
  --env REGISTRY_HTTP_TLS_CERTIFICATE=/etc/docker/registry/cert.crt \
  --env REGISTRY_HTTP_TLS_KEY=/etc/docker/registry/private.key \
  --env REGISTRY_AUTH_HTPASSWD_PATH=/etc/docker/registry/.htpasswd \
  --env REGISTRY_AUTH_HTPASSWD_REALM=basic-realm \
  registry:{{ registry_version }}

[Install]
WantedBy=multi-user.target

